.container {
  display: flex;
  justify-content: space-around;
  gap: 10px 30px;
}
.profile {
  display: flex;
  height: 30px;
}
.navBar {
  background-image: url(BlueBG.jpg);
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.menuOptions {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px 20px 20px 0px;
}
.menuOption {
  width: 100%;
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  gap: 10px 50px;
  text-decoration: none;
  color: black;
  font-family: verdana;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.113);
}
.menuOption:hover {
  background-color: rgb(46, 125, 242);
  color: white;
  cursor: pointer;
}
.menuOption img {
  width: 30px;
}
.testOptions {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}
body {
  background-color: #e1e7ed;
  text-align: center;
}
.testCard img {
  width: 30px;
  float: left;
  margin-right: 10px;
}
.testCard {
  
  font-family: sans-serif;
  text-align: left;
  background-color: white;
  border-left: 10px solid rgb(46, 125, 242);
  border-bottom: 2px solid rgb(46, 125, 242);
  border-right: 2px solid rgb(46, 125, 242);
  border-top: 2px solid rgb(46, 125, 242);
  margin:5px 5px 0px 5px;
  padding: 15px 10px 30px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.113);
}
.testCard a{
  margin-bottom: 10px;
}
.testCard button {
  float: right;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 125, 242);
  color: white;
  font-size: 1.2rem;
}
.testCard button:hover {
  background-color: rgb(0, 93, 231);
  cursor: pointer;
}
.menuOption.active {
  background-color: rgb(46, 125, 242);
  color: white;
  cursor: pointer;
}
.cardContainer{
  margin: none;
}
.cardContainer #upBtn{
  margin-top: -10px;
  float: left;
  margin-left: 60px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 125, 242);
  color: white
}
.cardContainer #upBtn:hover{
  background-color: rgb(0, 93, 231);
  color: white;
  cursor: pointer;
  border: none;
}
.cardContainer #upBtn img{
  width: 15px;
}
.cardContainer #upBtn:active{
  transform: scale(1.2);
  background-color: rgb(46, 125, 242);
  color: white;
}
.cardContainer #upBtn.liked{
  background-color: rgb(0, 184, 0);
  color: white;
  border: none;
}



.discussionPanel {
  text-align: left;
  float: right;
  margin-right: 110px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.discussionPanel.visible {
  background-color: rgb(30, 30, 29);
  border-radius: 5px;
}
#discussionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#inputField textarea {
  outline: none;
  background-color: rgb(20, 20, 20);
  border: none;
  color: rgb(224, 224, 224);
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  font-family: sans-serif;
  box-shadow: 2px 2px 8px black;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(237, 237, 226);
}
#inputField textarea:focus {
  border: none;
  text-decoration: none;
}
.btn {
  padding: 10px;
}
#inputField input,
#inputField button {
  padding: 10px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  background: transparent;
  color: rgb(224, 224, 224);
}
#inputField input:hover {
  background-color: rgb(57, 57, 55);
  border: 1px solid white;
  cursor: pointer;
}
#inputField button:hover {
  background-color: rgb(181, 0, 0);
}
#inputField button {
  float: right;
}
#commentButton {
  padding: 6px 10px;
  margin-top: 0px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(46, 125, 242);
}
#commentButton:hover {
  background-color: rgb(0, 93, 231);
  cursor: pointer;
}
#discussionBox {
  display: none;
}
#discussionBox.visible {
  display: flex;
}
#comments {
  margin: 0px 20px 10px 20px;
  color: rgb(224, 224, 224);
  font-family: sans-serif;
}